body{
    background-color: #fcfc62;
}
.conatiner{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    border: 5px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background: #feffea;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-top:100px;
}
.counter h1{
    font-size: 2rem;

}
#counter{
  font-size: 9rem;  
}